<!DOCTYPE html>
<html>
	<head>

		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>{{#if title }}{{title }} - {{/if}}{{ site.name }}</title>
		<meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Barrio" rel="stylesheet" type="text/css">

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet", href="../assets/css/normalize.css">
		<link rel='stylesheet', href='../assets/css/skeleton.css'>
		<link rel='stylesheet', href='../assets/css/custom.css'>

		<!-- JAVASCRIPT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
		 
		<!-- FAVICON
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="shortcut icon" href="../favicons/favicon.ico">
		
  	</head>
	
	<body>
